html,body {
	background-image: url(../img/bg/stercan.png), url(../img/bg/fbl.gif),
		url(../img/bg/fbr.gif);
	background-position: right bottom, left top, right top;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-attachment: fixed, fixed, fixed;
	background-color: #000;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0 auto;
	text-align: left;
	color: #000;
}

#wrapper {
	margin: 0 auto;
	position: relative;
	width: 1274px;
}

#navigation_menu {
	position: absolute;
	margin-left: 160px;
	margin-top: 14px;
}

#navigation_menu_left {
	float: left;
}

#navigation_menu_left a {
	color: white;
	font-size: 24px;
	font-style: normal;
	margin: 0 10px;
	text-decoration: none;
	float: left;
	padding-left: 24px;
}

#navigation_menu_right {
	float: left;
	margin-left: 200px;
}

#navigation_menu_right a {
	color: white;
	font-size: 24px;
	font-style: normal;
	margin: 0 10px 0 0;
	text-decoration: none;
	float: left;
}

#background_top {
	float: left;
	margin-bottom: -360px;
}

#background_top1 {
	float: left;
	padding-bottom: 0px;
}

#background_top2 {
	float: left;
	padding-bottom: 0px;
}

#background_top3 {
	float: left;
	padding-bottom: 0px;
}

#background_bottom {
	float: left;
	margin-top: -48px;
}

#background_bottom1 {
	float: left;
	margin-top: -476px;
}

#background_bottom2 {
	float: left;
}

#background_bottom3 {
	float: left;
	margin-top: -476px;
}

#top_image
{
	margin-left: -25px;
}
#content_holder {
	background-image: url("../img/images/rfd_05.png");
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 50px;
	padding-top: 30px;
	min-height: 1000px;
	margin-top: -45px;
}

#content_holder_half {
	width: 500px;
	float: left;
	padding-right: 25px;
	border-right-style: solid;
	border-right-width: 1px;
}

#content_news {
	float: right;
}

#content_news h1 {
	margin-bottom: 10px;
}

#quick_games {
	padding-left: 149px;
	padding-top: 64px;
	position: absolute;
	width: 969px;
}

#quick_games_left {
	float: left
}

#quick_games_left img {
	display: block;
	margin: 0;
	float: left;
}

#quick_games_right {
	float: right;
}

#quick_games_right img {
	display: block;
	margin: 0;
	float: left;
}

.game_image {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.page_header {
	font-size: 30px;
	font-style: normal;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

#games_holder {
	float: left;
	margin: 0 auto;
	width: 800px;
	padding-left: 50px;
}

#games_holder div {
	width: 800px;
	height: 170px;
}

#games_holder div a {
	float: left;
}

p {
	margin: 0 0 1.3em;
	padding: 0 0 10px;
}

a {
	color: #000;
	font-weight: 700;
	text-decoration: underline;
}

a img {
	border: none;
	display: block;
}

a:focus {
	outline: none;
}

h1 {
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
	margin: 0 0 20px;
}

h2 {
	font-size: 2em;
	line-height: 1.3em;
	margin: 0 0 20px;
}

h3 {
	font-size: 1.5em;
	font-style: italic;
	line-height: 1.5em;
	margin: 0 0 15px;
}

h4 {
	color: red;
	font-size: 1.2em;
	margin: 0;
}

form {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.table_paypal {
	font-size: 18px;
	font-style: italic;
	margin: 15px;
}

input.button {
	background-color: #86171F;
	border: 1px solid #fff;
	color: #FFF;
	cursor: pointer;
	display: block;
	margin-top: 15px;
	padding: 5px;
	width: 165px;
}

.print_r {
	background-color: #666;
	border: 1px solid #000;
	color: #fff;
	font-size: 12px;
	padding: 1em;
	width: 80%;
}

a.button {
	background-color: #ee951b;
	color: #fff;
	float: right;
	line-height: 1em;
	padding: 4px 6px;
	text-decoration: none;
}

.melding {
	background-color: #3f1228;
	border: 1px solid #6b2849;
	color: #000;
	font-size: .9em;
	margin: 0 0 1em;
	padding: 5px;
}

.form {
	border-collapse: collapse;
}

.form td {
	padding: 0 0 5px;
	text-align: left;
	vertical-align: top;
}

.form .error {
	color: red;
}

.form .errormsg {
	color: red;
	display: inline-block;
	padding: 3px;
}

.form input,.form textarea,.form select {
	background-color: #2b0d1c;
	border: 1px solid #6b2849;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	width: 227px;
}

.form_label input {
	background-color: #2b0d1c;
	border: 1px solid #6b2849;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.form textarea {
	height: 100px;
	overflow: auto;
}

.form select {
	padding: 3px;
}

.form input.date {
	width: 80px;
}

.form .opmerking {
	font-size: .9em;
}

.form input.button,.form_label input.button {
	background-color: #2b0d1c;
	border: #ff397a;
	color: #ff397a;
	cursor: pointer;
	float: right;
	padding: 5px;
	width: 75px;
}

.attachments {
	margin: 5px 0;
	padding: 5px;
}

.attachments ul {
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.attachments ul li {
	margin: 0;
}

.attachments ul li a {
	border-bottom: 1px solid #ccc;
	display: block;
	padding: 2px 0;
	text-decoration: none;
	width: 400px;
}

.galery {
	margin: 0 auto;
	padding-bottom: 50px;
}

.galery a {
	border: 2px solid #000;
	float: left;
	height: 73px;
	margin-left: 400px;
	margin-top: 50px;
	width: 130px;
}

.galery a:hover {
	border: 2px solid #ccc;
}

.terug_verder {
	clear: both;
	margin: 3em 0 2em;
	padding: 0;
	width: 650px;
}

.terug_verder a {
	border: 1px solid #aaa;
	display: inline-block;
	font-weight: 100;
	margin: 0 .5em 0 0;
	padding: .2em .5em;
	text-decoration: none;
}

.terug_verder a:hover {
	background-color: #aaa;
	color: #fff;
}

.terug_verder #huidig {
	background-color: #bbb;
	border-color: #999;
	color: #fff;
	cursor: auto;
	font-weight: 900;
	padding: .5em;
}

#map {
	background: transparent;
	border: 6px solid #73142e;
	font-family: Arial;
	font-size: 12px;
	height: 250px;
	line-height: normal !important;
	width: 330px;
}

.serperator_horizontal {
	background: url(../img/seperate_hor.jpg) center top;
	height: 1px;
}

#content_text {
	background: url(../img/seperate_vert.jpg) top right no-repeat;
	float: left;
	height: 450px;
	margin-top: 20px;
	overflow: auto;
	padding: 0 30px 50px 20px;
	width: 500px;
}

#full_page {
	float: left;
	height: 800px;
	margin-top: 200px;
	overflow: auto;
	padding: 0 0 50px 20px;
	width: 950px;
}

.newsitem {
	margin-bottom: 30px;
	padding: 2px;
	width: 330px;
}

.newsitem i {
	color: #ccc;
}

.newstitel {
	border-bottom: 1px groove #CCCCCC;
	display: inline-block;
	font-size: 1.31em;
}

a.readmore {
	display: block;
	float: right;
	text-align: left;
}

.attachments li {
	list-style-image: none;
	list-style-type: none;
	margin: 1px;
	padding: 0;
}

.attachments li a {
	border-bottom: 1px dotted #222;
	display: block;
	text-decoration: none;
	width: 90%;
}

.attachments li a:hover {
	border-bottom: 1px dotted #999;
}

.attachments li a:hover img {
	-moz-opacity: 0.7;
	opacity: .70;
}

a:hover,.newsitem a {
	text-decoration: none;
}

.attachments ul li a img,.newsitem i {
	float: left;
}

.terug_verder #vorige,.terug_verder #volgende,.terug_verder #einde {
	border-color: #ddd;
}

.newstitel:hover,a.readmore:hover {
	text-decoration: underline;
}